.task {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto;
  border-radius: 6px;
}

p {
  width: auto;
  margin-left: 2rem;
}

.buttons {
  margin: 0 2rem 0 auto;
  display: flex;
  justify-content: flex-end;
}

button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

img {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.completed {
  color: #000;
  text-decoration: line-through;
  background-color: #94d78e;
}

.incompleted {
  color: #000;
  text-decoration: none;
  background-color: #bcbcbc;
}
